.button {
    background: $gold;
    border: none;
    border-bottom: .6rem solid darken($gold, 10%);
    color: $off-black;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    padding: $s-size;
    cursor: pointer;
}