.header {
    background: $off-black;
    color: white;
    padding: $m-size;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: $xl-size;
    margin: 0;
    cursor: default;
}

.header__content {
    color: white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: $width * 0.35;
    padding: $s-size 0;
  }