.option {
    display: flex;
    padding: $s-size;
    background: $blue;
}

.option__input {
    font-size: $m-size;
    color: $off-white;
    background: $dark-blue;
    flex-grow: 1;
    border: none;
    border-bottom: 0.3rem solid darken($dark-blue, 10%);
    height: $l-size;
}

.option__label {
    font-size: $m-size;
    flex-grow: 1;
    border: none;
    height: $l-size;
    width: $width*0.2685;
    cursor: default;
}

.option__link-is-active {
    font-weight: bold;
    color: $gold;
}

.option__link:link {
    font-size: $m-size;
    color: $off-white;
    flex-grow: 1;
    border: none;
    height: $l-size;
    width: $width*0.1;
    text-decoration: none;
}

.option__link:visited {
    color: white;
}